.slideshow-container {
    display: flex;
    align-items: center;
}

.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events:none;
}

.slide.visible {
  opacity:1;
  pointer-events:auto;
}

.slide-background {
    background-color: #2C3E50;
    width: 80vw;
    height: 78vh;
    padding: 1rem;
    margin: 1rem auto;
    list-style: none;
    transition-duration: 0.5s;
    color: #ffc894;
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 2rem;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}

@media (max-width: 767px) {
  .project-content {
      flex-direction: column;
  }

  .slide-background {
    height: auto;
  }

  .project-content img {
      max-height: 50vh;
      max-width: 60vw;
  }

  .project-content p {
      margin:1rem;
      max-width: 70vw;
  }

  .arrow {
    margin: 0.1rem;
  }

  .project-text {
      margin-right: 0px;
      max-width: 70vw;
      justify-self: center;
  }
}

@media (max-width: 590px) {
  .arrow {
    margin: 0rem;
    width: 20px;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
  }
}