.work h2 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.work p {
  font-size: 1.8rem;
  margin-top: 0.3rem;
}

.work {
  background-color: #2C3E50;
  color: #ffc894;
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-item {
    border-radius: 50px;
    padding: 1rem;
    list-style: none;
}

.work-item li {
    margin: 1rem;
}

@media only screen and (max-width: 590px),
  only screen and (max-width: 590px) and (-webkit-min-device-pixel-ratio: 2) {
  .work {
    height: auto;
  }

  .work p {
    font-size: 1.4rem;
    margin-top: 0.3rem;
  }

  .work ul {
    padding-inline-start: 0px;
  }

  .work li {
    font-size: 1rem;
  }
}
